COMP 307 - Principles of Web Development/Project/Basketball.zip
COMP 307 - Principles of Web Development/Project/Submission/Piccup.zip
COMP 310 - Operating Systems/Fall 2018 - COMP-310-001 & ECSE-427-001 - 1292018 - 1229 PM.zip
COMP 310 - Operating Systems/Fall 2018 - COMP-310-001 & ECSE-427-001 - 1292018 - 1230 PM.zip
COMP 551 - Applied Machine Learning/Project 3/code/data/train_images.pkl
MGCR 211 - Intro to Financial Accounting/Fall 2019 - MGCR-211-001002003 - 1282019 - 411 PM.zip
COMP 597 - Machine Learning Applications in Real-World Systems/Project - Taxi Carpool MARL/code/data/yellow_tripdata_2013.csv.gz