[submodule "COMP 597 - Machine Learning Applications in Real-World Systems/Project - Taxi Carpool MARL/taxi-marl"]
	path = COMP 597 - Machine Learning Applications in Real-World Systems/Project - Taxi Carpool MARL/taxi-marl
	url = https://github.com/nhthung/taxi-marl
[submodule "COMP 561 - Computational Biology Methods and Research/Project/prob-blast"]
	path = COMP 561 - Computational Biology Methods and Research/Project/prob-blast
	url = https://github.com/nhthung/prob-blast
[submodule "COMP 561 - Computational Biology Methods and Research/Project/code"]
	path = COMP 561 - Computational Biology Methods and Research/Project/code
	url = https://github.com/nhthung/prob-blast
