*trained_models/
*results/
*data/raw/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Data
*.pkl
